.page {
    
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    
}

.App {
    
    background-color: grey;
    width: 500px;
    height: 500px;
    border: 6px inset goldenrod;

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

    .grid-item {
        border: 1px solid black;
        text-align: center;
        margin: auto;
        width: 100%;
        height: 100%;
        padding: 21px;
        color: aliceblue;
    }

    .grid-item:hover {
        border: 1px solid yellow;
        color: yellow;
    }

    .grid-item p {
        margin: auto;
        align-items: center;
        font-size: 29px;
        font-family: Helvetica;
    }

    .display {
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: black;
        color: greenyellow;
        text-align: end;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        padding: 15px;    
    }

    .AC {
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: rgb(134, 6, 6);
    }

    .number, .zero {
        background-color: rgb(61, 61, 61);

    }

    .equal {
        background-color: rgb(26, 26, 87);
        grid-area: 5 / 4 / 7 / 4;   
    }

    .equal p {
        margin-top: 40px;
    }


    .zero {
        grid-column-start: 1;
        grid-column-end: 3;
    }

.logo {
    font-family: 'Courier New', Courier, monospace;
}

.logo h5 {
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: greenyellow;
}